<?xml version='1.2' encoding='utf-8'?>
<widget id="com.valencia.test" version="1.2" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="">
    <name>Zuprimo</name>
    <description>
 Ayuda a Zuprimo a escapar</description>
    <author email="juannuffin@hotmail.com" href="#">
        Juan Valencia  </author>
    <content src="index.html" />
    <access origin="*" />